<header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            
            <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">360cloud App</h3>
      </header>

      <main role="main">

        <div class="jumbotron">
          <h1 class="display-3">Wecome {{currentUser.data[0].name}}</h1>
          
        </div>

        
      </main>

     